html, body{
	font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: url(notes.jpg) no-repeat 0px 0px;
	background-size:cover; 
} 
.button{  
    color:green;  
}  

#main{
	text-align: center;
	margin-top: 5%;  
}

#mark{
	text-decoration: none;
	color: #660000;
}

h1{
	color: #330000;
}
ul {
  text-align: center;
  list-style: inside;
}
.tab {
	margin: 10px;
	background-color: white;
	opacity: 0.9;
	border-radius: 5px;
}

#incomplete {
	font-weight: bold;
}
